html{
  max-height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #DD1E25;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-style {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}
